*.jpg filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
tex/**/*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
GUIA[[:space:]]DA[[:space:]]CIDADE[[:space:]]DO[[:space:]]SALVADOR.pdf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/GUIA[[:space:]]DA[[:space:]]CIDADE[[:space:]]DO[[:space:]]SALVADOR.pdf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/Salvador[[:space:]]transformações[[:space:]]e[[:space:]]permanências[[:space:]](1549-1999).pdf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/caminhodasaguas.pdf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/disserta-final.pdf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/logo_ufba-eps-converted-to.pdf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/fotos/Percement_avenue_de_lOpera.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/fotos/Rambuteau.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/fotos/haussmann.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1836-vonbusch.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1839-beaurepairerohan-recorte.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1839-beaurepairerohan-recorte.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1839-beaurepairerohan.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1865-planopoggi-florenca.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1882-bazalgette-sistemadeesgotolondrino.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1894-reclus.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1899-theodorosampaio-recorte.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1899-theodorosampaio-recorte.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/1899-theodorosampaio.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/2-cap1/complementos/mapas/heilbronn.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/1870-bonderiovermelho.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/1872-e2j.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/1872-hospitalmilitar.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/1953-hospitalmilitar.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/2014-moradasimaomota.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/201812-quartelamaralina-ruyguerra-01.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/201812-quartelamaralina-ruyguerra-02.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/bomjesusdosmilagres-interior.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/bomjesusdosmilagres.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/deusmenino.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/nsbrotas-altarmor.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/nsbrotas-fachada.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/nsbrotas-interior.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/nsluz-interior.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/imagens/nsluz.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/mapas/1830-lealteixeira.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/mapas/1831-anonimo.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/mapas/1836-vonbusch.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/mapas/apcs1955-f32-engvbro.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/mapas/engvelho1955-1.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/mapas/engvelho1955-2.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/3-cap2/complementos/mapas/georreferenciamento/acupe/acupe-1851-pronto.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1904-mariquita.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1905-lavadeirasnodique.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1910-bolandeira.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1910-dique-rbc.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1910-dique-rbc.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1910-dique.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1910-dunagrande.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1916-amaralina.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1916-pituba.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1919-plantapituba.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1921-estacaotelegraficaamaralina.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1926-e2j-rbc.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1926-e2j-rbc.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1927-usinadodique-construcao.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1928-amaralina.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1928-usinadodique.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1930-amaralina01.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1930-amaralina02.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1930-amaralina03.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1946-sapelba-riovermelho-marquesdemontesanto.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1948-campinas-recorte.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1948-campinas-recorte.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1948-campinas.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/1948-campinas.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/19xx-estbrotas-rbc.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/19xx-estbrotas-rbc.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/2016-capela-amaralina.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/2016-capela-amaralina02.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/IMG_20190615_102612.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/imagens/IMG_20190615_102626.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/plantas/cervejariaantarctica.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/plantas/santacruz-azul.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/4-cap3/complementos/plantas/santacruz-seda.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/avulsos/DSC06323.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/avulsos/DSC06326.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/despachos/DSC06346.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/despachos/DSC06373.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/despachos/DSC06388.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/despachos/vila[[:space:]]américa/DSC06543.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/despachos/vila[[:space:]]américa/DSC06544.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/despachos/vila[[:space:]]américa/DSC06545.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1830-lealteixeira.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1839-beaurepairerohan.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1855weyll.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1899-theodorosampaio-recorte.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1899-theodorosampaio-recorte.xcf filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1899-theodorosampaio.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1969-mapaprefeitura-bkp.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/1969-mapaprefeitura.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06482.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06483.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06484.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06485.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06486.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06487.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06488.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06489.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06490.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06491.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06492.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06493.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06494.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06495.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06496.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06497.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06498.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06499.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06500.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06501.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06502.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06503.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06504.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06505.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06508.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06509.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06510.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06511.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06512.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06513.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06514.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06515.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06516.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06517.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06518.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06519.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/8-anexos/mapas/DSC06520.JPG filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/difer filter=lfs diff=lfs merge=lfs -text
/home/fernanda/Mestrado/arquitetura/diss/tex/difer filter=lfs diff=lfs merge=lfs -text
